<div class="container text-white pt-5">
  <a class="d-inline-flex align-items-center gap-3 mb-3 text-decoration-none text-reset" [routerLink]="['..']">
    <img ngSrc="chevron-left.svg" alt="" height="40" width="40">
    <h3>Back to profile</h3>
  </a>

  <ul class="nav nav-tabs custom-tabs mb-5" id="followers-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="followers-tab" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Followers</button>
    </li>
    <li class="nav-item" role="presentation">
      <button routerLink="/profile/following" class="nav-link" id="following-tab" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Following</button>
    </li>
  </ul>

  <app-followers-following listType="followers" editable></app-followers-following>
</div>
