<div class="container text-white">
  <div class="mb-4">
    <div class="d-flex align-items-center gap-5">
      <h1 class="fw-bold my-4">Trending shows</h1>
      <a routerLink="trending" class="link-offset-3 white-link" [queryParams]="{ page: 1 }">View all</a>
    </div>
    @if (trendingShows) {
      <div class="d-flex flex-wrap gap-4">
        @for (_ of [].constructor(6); let i = $index; track i) {
          <!-- Poster images are sized w185, using 2:3 ratio -->
          <a [routerLink]="['/show', trendingShows.results[i].id]">
            <img class="poster-image" [ngSrc]="trendingShows.results[i].posterPath" alt="Show Poster" width="185" height="278" priority>
          </a>
        }
      </div>
    }
  </div>

  <div class="mb-4">
    <div class="d-flex align-items-center gap-5">
      <h1 class="fw-bold my-4">Top rated shows</h1>
      <a routerLink="top" class="link-offset-3 white-link" [queryParams]="{ page: 1 }">View all</a>
    </div>
    @if (topRatedShows) {
      <div class="d-flex flex-wrap gap-4">
        @for (_ of [].constructor(6); let i = $index; track i) {
          <!-- Poster images are sized w185, using 2:3 ratio -->
          <a [routerLink]="['/show', topRatedShows.results[i].id]">
            <img class="poster-image" [ngSrc]="topRatedShows.results[i].posterPath" alt="Show Poster" width="185" height="278" priority>
          </a>
        }
      </div>
    }
  </div>

  @if (showGenres) {
    <h1 class="fw-bold my-4">Genres</h1>
    <div class="d-flex flex-wrap" id="genre-container">
      @for (genre of showGenres.genres; track genre.id) {
        <button class="btn btn-primary genre-button" [routerLink]="['show']" [queryParams]="{ genre: genre.id, page: 1 }">
          {{genre.name}}
        </button>
      }
    </div>
  }
</div>
