.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.numLikes {
  font-size: 1.5rem;
}

.comment {
  transition: background-color 1.75s ease-out;
}

.comment-box {
  padding: 10px !important;
}

.comment-text {
  font-size: 1.1rem;
  white-space: pre-wrap;
}

.save-button {
  background-color: var(--button-color);
  border: none;
}

.username {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.link, .delete {
  color: white;
  transition: color 0.3s ease;
}

.delete {
  padding-right: 0;
}

.delete:hover {
  color: var(--error-color);
}

.username:hover, .link:hover {
  color: #d3d3d3;
}

@media (max-width: 600px) {
  .profile-picture {
    width: 50px;
    height: 50px;
  }

  .right-container {
    margin-right: 0 !important;
  }

  .comment {
    margin-bottom: 1rem !important;
  }

  .comment-date {
    font-size: 0.8rem;
  }

  .comment-text {
    font-size: 1rem !important;
  }

  .comment-box {
    width: 100% !important;
  }
}
