<div class="container text-white pt-5" style="margin-bottom: 15vh">
  <a class="d-inline-flex align-items-center gap-3 mb-5 text-decoration-none text-reset return-section" [routerLink]="['..']">
    <img class="return-arrow" ngSrc="chevron-left.svg" alt="" height="40" width="40">
    <h3 class="return-title">Back to profile</h3>
  </a>
  <h1 id="page-title" class="fw-bold">{{username}}'s watchlist</h1>

  @if (loadingData) {
    <div class="d-flex justify-content-center mt-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else if (watchlistEntries.length > 0) {
    <app-show-list-full [shows]="watchlistEntries"></app-show-list-full>
  } @else {
    <p class="fs-4">No shows on list</p>
  }
</div>

