@if (season) {
  <button (click)="returnToShowDetails()">Return to Show Details</button>

  <h2>Season {{seasonNumber}}</h2>
  <h3>Overview: {{season.overview}}</h3>

  <!-- Poster images are sized w342, with a 2:3 ratio -->
  <img [ngSrc]="season.posterPath" alt="Season Poster" width="342" height="513" priority>

  <br>
  @if (season.onRankingList) {
    <button class="btn btn-outline-danger mt-3 mb-3" (click)="removeSeasonRankingList()">Remove from Ranking List</button>
  } @else {
    <button class="btn btn-outline-success mt-3 mb-3" (click)="addSeasonToRankingList()">Add to Ranking List</button>
  }

  @if (numSeasons) {
    <h3>Season Select:</h3>
    @for (_ of [].constructor(numSeasons); let season = $index; track season) {
      <button (click)="seasonSelected(season + 1)">{{season + 1}}</button>
    }
  }
  <br>
  <br>

  @for (episode of season.episodes; track episode.episodeNumber) {
    <h4>S{{seasonNumber}} E{{episode.episodeNumber}}</h4>
    <h4>Name: {{episode.name}}</h4>
    <h4>Release Date: {{utilsService.getFormattedDate(episode.airDate)}}</h4>
    <h4>IMDb Rating: {{episode.imdbRating}}</h4>
    <h4>Plot: {{episode.overview}}</h4>

    <!-- Episode stills are sized w185, with a 16:9 ratio -->
    <a (click)="episodeSelected(episode.episodeNumber)"><img [ngSrc]="episode.stillPath" alt="Episode Still" width="185" height="104"></a>
    <br>
    <br>
  }
}
