#seasons-dropdown {
  background-color: var(--button-color);
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  width: 100%;
}

#sort-dropdown {
  background-color: var(--button-color);
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

#seasons-dropdown:after, #sort-dropdown:after {
  display: none;
}

.section-header {
  font-weight: bold;
  margin-bottom: 25px;
}

#button-group {
  width: 100%;
  max-width: 250px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--button-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.add-button:hover {
  background-color: var(--button-hover-color);
}

#show-link, .episode-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

#show-link:hover, .episode-link:hover {
  color: #d3d3d3;
}

.episode-image {
  border-radius: 10px;
}

#desktop-user-ratings {
  display: block;
}

#mobile-user-ratings {
  display: none;
}

@media (max-width: 600px) {
  #season-poster {
    width: 120px;
    height: auto;
  }

  #content-container {
    padding-top: 15px !important;
    gap: 10px !important;
    flex-direction: column;
  }

  .nav-link {
    font-size: 1rem !important;
    margin: 0 !important;
    padding: 0 !important;
    white-space: nowrap;
  }

  #rating-header {
    font-size: 1rem !important;
    margin: 10px 0 !important;
  }

  #season-header {
    gap: 10px !important;
  }

  #show-title, #season-plot {
    font-size: 1rem !important;
  }

  #season-title {
    font-size: 1.29rem;
  }

  #season-year {
    font-size: 0.85rem;
  }

  #seasons-dropdown {
    font-size: 0.9rem;
    padding: 10px;
    gap: 5px !important;
  }

  .add-button {
    font-size: 0.9rem;
    padding: 10px;
  }

  .episode-item {
    flex-direction: column !important;
  }

  #sort-dropdown {
    font-size: 0.9rem;
    padding: 10px;
  }

  .nav-tabs {
    gap: 22px !important;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .episode-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  #episodes-container {
    gap: 10px !important;
    margin-top: 0 !important;
  }

  #season-wrapper {
    gap: 10px !important;
  }

  .episode-title {
    font-size: 1.2rem;
  }

  #desktop-user-ratings {
    display: none;
  }

  #mobile-user-ratings {
    display: block;
  }

  #user-ratings-title {
    font-size: 1rem;
    margin-top: 15px;
  }
}
