<div id="content-container" class="d-flex gap-4 align-items-center">
  <div id="chart-container" class="flex-shrink-1">
    <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="'bar'"
            [legend]="false">
    </canvas>
  </div>
  <div class="d-flex flex-column text-center flex-shrink-0">
    <div class="fs-2 gap-1 d-flex align-items-center justify-content-center lh-1">
      @if (reviewAverage) {
        <span id="rating-average">{{reviewAverage}}</span>
      } @else {
        <span>&mdash;</span>
      }
      <i class="bi bi-star-fill ms-1" style="color: #f2cb22;"></i>
    </div>
    <span id="review-count" class="fs-5"> from {{reviewCount}} user review{{reviewCount !== 1 ? 's' : ''}}</span>
  </div>
</div>
