#show-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 1.5rem;
  justify-content: center;
}

.genre-button {
  background-color: var(--button-color);
  border: none;
  padding: 10px 20px;
  min-width: 200px;
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

.genre-button:hover {
  background-color: var(--button-hover-color);
}

.genre-button.selected {
  background-color: var(--outline-color);
}

@media (max-width: 600px) {
  h1 {
    margin-left: 0 !important;
    font-size: 1.49rem;
    margin-bottom: 0.5rem !important;
  }

  #genre-container {
    flex-direction: row !important;
    align-items: start;
    overflow-x: auto;
  }

  #show-container {
    display: grid !important;
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    gap: 8px !important;
  }

  .poster-image {
    width: 100%;
    aspect-ratio: 2/3;
  }

  #content-container {
    flex-direction: column;
  }

  #genre-title {
    margin-top: 1rem !important;
  }

  .genre-button {
    width: fit-content;
    min-width: fit-content;
  }

  .page-button img {
    width: 2rem;
    height: 2.5rem;
  }

  #page-count {
    line-height: 1;
    font-size: 1.5rem;
  }

  #spinner-wrapper {
    grid-column: 1 / -1;
  }
}
