<button class="btn btn-primary" [routerLink]="['/user', userId, 'collections']">Return to Collections</button>

@if (collection) {
  <h1>{{collection.name}}</h1>
  <pre>{{collection.description}}</pre>

  <div class="d-flex align-items-center">
    <yt-button-heart [isLiked]="collection.isLikedByUser" [size]="100" (click)="toggleLikeState()"></yt-button-heart>
    <div id="like-count">{{collection.numLikes}}</div>
  </div>

  @if (collection.shows.length != 0) {
    @if (collection.isRanked) {
      <div class="show-list">
        @for (show of collection.shows; track show.id; let rank = $index) {
          <div class="show-box">
            <h3>{{rank + 1}}</h3>
            <h3>{{show.title}}</h3>

            <!-- Poster images are sized w185, using 2:3 ratio -->
            <a [routerLink]="['/show', show.id]"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
          </div>
        }
      </div>
    } @else {
      <div>
        @for (show of collection.shows; track show.id; let rank = $index) {
          <div>
            <h3>{{show.title}}</h3>

            <!-- Poster images are sized w185, using 2:3 ratio -->
            <a [routerLink]="['/show', show.id]"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
          </div>
        }
      </div>
    }
  } @else {
    <p>No shows in collection yet!</p>
  }
}
