pre {
  white-space: pre-wrap;
}

#collection-info {
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  pre {
    font-size: 1rem !important;
  }

  #collection-info {
    gap: 15px !important;
    margin-bottom: 10px !important;
  }
}
