@if (season) {
  <h2>Season {{seasonNumber}}</h2>
  <h3>Overview: {{season.overview}}</h3>

  <!-- Poster images are sized w342, with a 2:3 ratio -->
  <img [ngSrc]="season.posterPath" alt="Season Poster" width="342" height="513" priority>
  <br>
  <br>

  @for (episode of season.episodes; track episode.episodeNumber) {
    <h4>S{{seasonNumber}} E{{episode.episodeNumber}}</h4>
    <h4>Name: {{episode.name}}</h4>
    <h4>Release Date: {{episode.airDate}}</h4>
    <h4>IMDb Rating: {{episode.imdbRating}}</h4>

    <!-- Episode stills are sized w185, with a 16:9 ratio -->
    <a (click)="episodeSelected(episode.episodeNumber)"><img [ngSrc]="episode.stillPath" alt="Episode Still" width="185" height="104" priority></a>
    <br>
    <br>
  }
}
