<button class="btn btn-primary" [routerLink]="['..']">Return to Profile</button>

<h1>Collections</h1>

<div class="mb-3">
  <label for="search-bar" class="form-label">Search Collections</label>
  <input type="text" id="search-bar" class="form-control" placeholder="Search..." [(ngModel)]="newCollectionName" (input)="debouncedSearchCollections()">
</div>

@if (collections) {
  @if (collections.length != 0) {
    @for (collection of collections; track collection.id) {
      <a [routerLink]="[collection.id]"><h3>{{collection.name}}</h3></a>
    }
  } @else {
    <p>No Collections Found!</p>
  }
}
