<h1>{{ title }}</h1>

@if (episodes?.length != 0) {
  <div cdkScrollable #scrollableContainer class="scrollable-container">
    <div cdkDropList class="episode-list" [cdkDropListDisabled]="!editable" (cdkDropListDropped)="drop($event)">
      @for (episode of episodes; track episode.episodeId; let rank = $index) {
        <div class="episode-box" cdkDrag [attr.cdkDrag]="editable" [style.cursor]="editable ? 'move' : 'default'" (cdkDragMoved)="onDragMoved($event)">
          <h5>{{rank + 1}}</h5>
          <h5>{{episode.showTitle}}</h5>
          <h5>{{episode.episodeTitle}}</h5>
          <h5>S{{episode.season}} E{{episode.episode}}</h5>

          <!-- Episode stills are sized w185, with a 16:9 ratio -->
          <a [routerLink]="['/show', episode.showId, 'season', episode.season, 'episode', episode.episode]"><img [ngSrc]="episode.posterPath" alt="Show Poster" width="185" height="104" priority></a>

          @if (editable) {
            <button class="btn btn-danger" (click)="removeEvent(episode)">Remove Episode</button>
          }
        </div>
      }
    </div>
  </div>
} @else {
  <div>No episodes ranked yet!</div>
}

