<div #scrollableContainer class="scrollable-container">
  <div cdkDropList class="scroll-list" (cdkDropListDropped)="drop($event)">
    @for (episode of episodes; track episode.episodeId; let rank = $index) {
      <div class="scroll-box" style="padding: 40px 40px" cdkDrag (cdkDragMoved)="onDragMoved($event)">
        <div class="d-flex align-items-center gap-5">
          <input name="rank" type="text" [value]="rank + 1" class="form-control rank-input" (keydown.enter)="moveToPosition($event, rank)">
          <!-- Poster images are sized w231, using 16:9 ratio -->
          <a [routerLink]="['/show', episode.showId, 'season', episode.season, 'episode', episode.episode]">
            <img class="poster-image" [ngSrc]="episode.posterPath" alt="Show Poster" width="231" height="130" priority>
          </a>

          <div class="text-center">
            <h2 class="fw-bold">{{episode.episodeTitle}}</h2>
            <span class="episode-info" style="font-weight: 300">{{episode.showTitle}} S{{episode.season}} E{{episode.episode}}</span>
          </div>
        </div>

        <div class="right-section" style="margin: -40px -40px">
          <button id="delete-button" class="btn btn-primary d-flex align-item-center" (click)="removeEvent(episode)">
            <img ngSrc="trash.svg" alt="Remove show" height="20" width="20">
          </button>
          <div class="grip-container" cdkDragHandle style="cursor: move">
            <img class="grip" ngSrc="grip-vertical.svg" alt="Reorder list" height="50" width="50">
          </div>
        </div>
      </div>
    }
  </div>
</div>

