#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 5rem);
}

#login-form {
  width: 100%;
  max-width: 550px;
  border-radius: 5px;
  padding: 50px 30px;
  background-color: white;
  border: 2px solid var(--outline-color);
}

.form-control {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: var(--outline-color);
  border-width: 2px;
}

#login-button {
  background-color: var(--button-color);
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  border: none;
  transition: background-color 0.3s ease;
}

#login-button:hover {
  background-color: var(--outline-color);
}
