#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 5rem);
}

#login-form {
  width: 100%;
  max-width: 550px;
  border-radius: 5px;
  padding: 50px 30px;
  background-color: white;
  border: 2px solid var(--outline-color);
}

#login-button {
  background-color: var(--button-color);
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  border: none;
  transition: background-color 0.3s ease;
}

#login-button:hover {
  background-color: var(--button-hover-color);
}

@media (max-width: 600px) {
  #login-container {
    padding: 0 5%;
  }

  #login-form {
    padding: 25px 20px;
  }
}
