<form [formGroup]="loginForm">
  <div class="form-floating mb-3">
    <input class="form-control" id="email" type="email" formControlName="email" placeholder="Enter email" autocomplete="email">
    <label for="email" class="form-label">Email</label>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" id="password" type="password" formControlName="password" placeholder="Enter password" autocomplete="current-password">
    <label for="password" class="form-label">Password</label>
  </div>

  <div></div>

  <p>Don't have an account? <a href="/register">Create one</a></p>
  <p>Forgot your password? <a href="/reset-password">Reset it</a></p>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
