<div class="d-flex gap-5 mb-3">
  <h3 class="fw-bold">Favorite seasons</h3>
  <a routerLink="season-ranking" class="link-offset-3 white-link">View all</a>
</div>

@if (seasons.length != 0) {
  <div class="d-flex gap-3 flex-wrap">
    @for (season of seasons; track season.showId; let rank = $index) {
      <div class="d-flex flex-column align-items-center">
        <a [routerLink]="['/show', season.showId, 'season', season.season]">
          <!-- Poster images are sized w185, using 2:3 ratio -->
          <img class="poster-image" [ngSrc]="season.posterPath" alt="Season Poster" width="185" height="278" priority>
        </a>
        <p>{{rank + 1}}</p>
      </div>
    }
  </div>
} @else {
  <p>No items on list</p>
}
