@if (episode) {
  <button class="btn btn-primary" [routerLink]="['/show', showId, 'season', seasonNumber]">Return to Season Details</button>

  <h2>Name: {{episode.episodeTitle}}</h2>

  <h3>IMDb Rating: {{episode.imdbRating}} with {{episode.imdbVotes}} votes</h3>
  <h3>Release Date: {{utilsService.getRelativeDate(episode.airDate)}}</h3>
  <h3>Runtime: {{episode.runtime}} minutes</h3>
  <h3>Plot: {{episode.plot}}</h3>

  <!-- Episode still is size w780, with 16:9 aspect ratio -->
  <img [ngSrc]="episode.stillPath" alt="Episode Still" width="780" height="438" priority>

  <br>
  <br>
  <button class="btn btn-outline-success" (click)="addToRankingList()">Add to Ranking List</button>

  <br>
  <br>
  <button type="button" class="btn btn-primary" >Add Review</button>

  <h2 class="mt-3">Reviews</h2>
}


