#backdrop-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

#backdrop-container {
  position: relative;
  width: 100%;
  height: 525px;
  overflow: hidden;
  display: inline-block;
}

#backdrop-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(to top, var(--background-color) 0%, transparent 100%);
  pointer-events: none;
}

.link, #episode-number {
  color: white;
  transition: color 0.3s ease;
  font-weight: normal;
}

.link:hover {
  color: #d3d3d3;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--button-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 225px;
}

.add-button:hover {
  background-color: var(--button-hover-color);
}

#sort-dropdown {
  background-color: var(--button-color);
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

#sort-dropdown:after {
  display: none;
}

.section-header {
  font-weight: bold;
  margin-bottom: 25px;
}

@media (max-width: 600px) {
  #backdrop-container {
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
    width: 100vw;
    height: 200px;
  }

  #episode-breakdown {
    gap: 10px !important;
  }

  #episode-title {
    font-size: 1.3rem;
  }

  #episode-plot {
    font-size: 1rem !important;
  }

  .link, #episode-number, #user-ratings-title {
    font-size: 1rem;
  }

  .nav-link {
    font-size: 1rem !important;
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
    white-space: nowrap;
  }

  #sort-dropdown {
    font-size: 0.9rem;
    padding: 10px;
  }

  #episode-nav {
    gap: 10px !important;
  }

  #episode-nav button {
    padding: 0 !important;
  }

  #episode-nav button img {
    width: 18px;
    height: auto;
  }

  #episode-nav span {
    font-size: 1rem !important;
    line-height: 1;
  }

  #rating-info {
    display: none !important;
  }

  #episode-info {
    gap: 15px !important;
  }

  .add-button {
    max-width: 225px;
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
  }
}
