#visibility-dropdown {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--button-color);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
}

#visibility-dropdown:after {
  display: none;
}

.custom-button {
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  max-width: 250px;
  flex: 1;
}

@media (max-width: 576px) {
  .custom-button {
    width: 100%;
    max-width: none;
    flex: unset;
  }
}

#cancel-button {
  background-color: var(--button-color);
  transition: background-color 0.3s ease;
}

#create-button {
  background-color: var(--success-color);
  transition: background-color 0.3s ease;
}

#create-button:hover {
  background-color: var(--success-hover-color);
}

#cancel-button:hover {
  background-color: var(--button-hover-color);
}

input.form-control.clear, textarea.form-control.clear {
  background-color: transparent;
  color: white;
  border: 2px solid var(--outline-color);
  padding: 10px 15px;
}

input.form-control.clear:focus {
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: #cccccc;
}

@media (max-width: 600px) {
  #page-title {
    margin-bottom: 20px !important;
  }
}
