<div class="text-white" style="margin-bottom: 15vh">
  <div id="searchbar" class="position-relative">
    <img class="input-icon" ngSrc="search.svg" alt="Search icon" width="20" height="20">
    <input class="form-control input-with-icon" id="search-input" placeholder="Search" (input)="debouncedSearch()" [(ngModel)]="searchString" name="search">
  </div>

  @if (loadingData) {
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else if (searchResults) {
    @if (searchResults.content.length > 0) {
      <div class="users"
           infiniteScroll
           [infiniteScrollDistance]="1"
           (scrolled)="loadMoreUsers()"
      >
        @for (user of searchResults.content; track user.id) {
          <div class="d-flex align-items-center my-4">
            <img style="cursor: pointer" [routerLink]="['/user', user.displayName]" [ngSrc]="user.profilePicture" id="profile-picture" alt="User Profile Picture" width="100" height="100" priority>
            <a class="white-link text-decoration-none" [routerLink]="['/user', user.displayName]">
              <h3 class="ms-5">{{user.displayName}}</h3>
            </a>

            @if (editable) {
              @if (listType === "followers") {
                <button class="btn btn-primary add-button ms-auto" (click)="remove(user.id)">
                  <span>Remove</span>
                  <img ngSrc="x.svg" alt="" height="25" width="25">
                </button>
              } @else {
                <button class="btn btn-primary add-button ms-auto" (click)="unfollow(user.id)">
                  <span>Unfollow</span>
                </button>
              }
            } @else {
              @if (!user.isOwnProfile) {
                @if (user.isFollowing) {
                  <button class="btn btn-primary add-button ms-auto" (click)="unfollow(user.id)">
                    <span>Unfollow</span>
                  </button>
                } @else {
                  <button class="btn btn-primary add-button ms-auto" (click)="follow(user.id)">
                    <span>Follow</span>
                  </button>
                }
              }
            }
          </div>
          <hr>
        }
      </div>
    } @else {
      <p class="text-reset mt-4 fs-4">No users found</p>
    }
  }
</div>


