<div class="mb-3">
  <input type="text" class="form-control" id="searchInput" placeholder="Search..." (input)="debouncedSearch()" [(ngModel)]="searchString">
</div>

@if (searchResults) {
  @if (searchResults.length > 0) {
    @for (user of searchResults; track user.id) {
      <div class="d-flex align-items-center ms-5 mb-4 me-5">
        <img [ngSrc]="user.profilePicture" alt="User Profile Picture" width="100" height="100">
        <h3 class="ms-5"><a [routerLink]="['/user', user.id]" class="text-dark">{{user.username}}</a></h3>

        @if (listType === "followers") {
          <button class="btn btn-outline-danger ms-auto" (click)="remove(user.id)">Remove</button>
        } @else {
          <button class="btn btn-outline-danger ms-auto" (click)="remove(user.id)">Unfollow</button>
        }
      </div>
    }
  } @else {
    <p>No Users Found</p>
  }
}
