.poster-stack:hover, #collection-name:hover {
  cursor: pointer;
}

.poster-stack {
  display: flex;
  width: fit-content;
}

.poster-stack img {
  flex-shrink: 0.25;
  min-width: 0;
}

.poster-stack img,
.poster-stack .poster-placeholder {
  margin-left: -2rem;
  box-shadow: 6px 0 6px -2px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.poster-stack img:first-child,
.poster-stack .poster-placeholder:first-child {
  margin-left: 0;
  flex-shrink: 0;
  min-width: 185px;
}

.poster-stack img:last-child,
.poster-stack .poster-placeholder:last-child {
  box-shadow: none;
}

.poster-placeholder {
  background-color: #0f0f15;
  border: 1px solid rgba(255, 255, 255, 0.1);
  flex-shrink: 0.25;
  width: 185px;
  height: 278px;
}
