<div class="modal-header">
  <h5 class="modal-title" id="editCollectionModal">Edit Collection</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="collectionNameInput" class="form-label">Collection Name</label>
    <input type="text" [maxlength]="maxNameLength" class="form-control" id="collectionNameInput" aria-describedby="nameHelpBlock"
           (input)="utilsService.displayCharactersLeft('collectionNameInput', 'nameHelpBlock', maxNameLength)"
           [(ngModel)]="collectionName">
    <div id="nameHelpBlock" class="form-text">{{ maxNameLength - collectionName.length }} characters remaining</div>
  </div>
  <div class="mb-3">
    <label for="descriptionInput" class="form-label">Description</label>
    <textarea class="form-control" id="descriptionInput" rows="3" [maxlength]="maxDescriptionLength" aria-describedby="descriptionHelpBlock"
              (input)="utilsService.displayCharactersLeft('descriptionInput', 'descriptionHelpBlock', maxDescriptionLength)"
              [(ngModel)]="collectionDescription"></textarea>
    <div id="descriptionHelpBlock" class="form-text">{{ maxDescriptionLength - collectionDescription?.length }} characters remaining</div>
  </div>
  <div class="mb-3" [style.color]="messageColor">{{message}}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
  <button type="button" class="btn btn-primary" [disabled]="!hasChanges" (click)="updateCollectionDetails()">Save Changes</button>
</div>
