@media (max-width: 600px) {
  #show-container {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px !important;
    margin-top: 20px !important;
  }

  .poster-image {
    width: 100%;
    aspect-ratio: 2/3;
  }
}
