<button class="btn btn-primary" routerLink="/profile/collections">Return to Collections</button>

@if (collectionData) {
  <h1>{{collectionData.name}}</h1>
  <pre>{{collectionData.description}}</pre>

  <div class="d-flex align-items-center">
    <yt-button-heart [isLiked]="collectionData.likedByUser" [size]="100" (click)="toggleLikeState()"></yt-button-heart>
    <div id="like-count">{{collectionData.numLikes}}</div>
  </div>

  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#collectionModal">Edit Collection Details</button>

  <div class="modal fade" id="collectionModal" aria-labelledby="collectionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="reviewModalLabel">Edit Collection</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="collection-form">
            <div class="mb-3">
              <label for="collectionNameInput" class="form-label">Collection Name</label>
              <input type="text" maxlength="100" class="form-control" id="collectionNameInput" name="collectionName"
                     (input)="utils.displayCharactersLeft('collectionNamInput', 'nameHelpBlock', 100)"
                     [value]="collectionData.name">
              <div id="nameHelpBlock" class="form-text">{{ 100 - collectionData.name.length }} characters remaining</div>
            </div>
            <div class="mb-3">
              <label for="descriptionInput" class="form-label">Description</label>
              <textarea class="form-control" id="descriptionInput" name="description" rows="3" maxlength="250" aria-describedby="descriptionHelpBlock"
                        (input)="utils.displayCharactersLeft('descriptionInput', 'descriptionHelpBlock', 250)"
                        [value]="collectionData.description"></textarea>
              <div id="descriptionHelpBlock" class="form-text">{{ 250 - collectionData.description?.length }} characters remaining</div>
            </div>
            <div class="mb-3">
              <p id="edit-collection-error-message"></p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateCollectionDetails()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-danger" (click)="deleteCollection()">Delete Collection</button>

  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addShowModal">Add Show</button>
  <br>
  <br>

  <app-add-show-modal (addShow)="handleAddShow($event)"
                      title="Add Show to Collection"
                      [message]="modalMessage"
                      [messageColor]="modalColor"
  ></app-add-show-modal>

  <div class="btn-group" id="visibility-radios" role="group" aria-label="Toggle private/public visibility" (change)="toggleCollectionVisibility()">
    <input type="radio" class="btn-check" name="visibilityRadio" id="privateRadio" autocomplete="off" value="private" [checked]="collectionData.isPrivate">
    <label class="btn btn-outline-danger" for="privateRadio">Private</label>

    <input type="radio" class="btn-check" name="visibilityRadio" id="publicRadio" autocomplete="off" value="public" [checked]="!collectionData.isPrivate">
    <label class="btn btn-outline-success" for="publicRadio">Public</label>
  </div>

  <br>
  <br>
  <div class="btn-group" id="ranked-radios" role="group" aria-label="Toggle ranked/unranked" (change)="toggleRankSetting()">
    <input type="radio" class="btn-check" name="rankedRadio" id="unrankedRadio" autocomplete="off" value="unranked" [checked]="!collectionData.isRanked">
    <label class="btn btn-outline-primary" for="unrankedRadio">Unranked</label>

    <input type="radio" class="btn-check" name="rankedRadio" id="rankedRadio" autocomplete="off" value="ranked" [checked]="collectionData.isRanked">
    <label class="btn btn-outline-primary" for="rankedRadio">Ranked</label>
  </div>
  <br>
  <br>

  @if (collectionData.shows.length != 0) {
    @if (collectionData.isRanked) {
      <div cdkDropList class="show-list" (cdkDropListDropped)="drop($event)">
        @for (show of collectionData.shows; track show.id; let rank = $index) {
          <div cdkDrag class="show-box">
            <h3>{{rank + 1}}</h3>
            <h3>{{show.title}}</h3>

            <!-- Poster images are sized w185, using 2:3 ratio -->
            <a [routerLink]="['/show', show.id]"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
            <button class="btn btn-danger" (click)="removeShowFromCollection(show.id)">Remove Show</button>
          </div>
        }
      </div>
    } @else {
      <div>
        @for (show of collectionData.shows; track show.id; let rank = $index) {
          <div>
            <h3>{{show.title}}</h3>

            <!-- Poster images are sized w185, using 2:3 ratio -->
            <a [routerLink]="['/show', show.id]"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
            <button class="btn btn-danger" (click)="removeShowFromCollection(show.id)">Remove Show</button>
          </div>
        }
      </div>
    }
  } @else {
    <p>No shows in collection yet!</p>
  }
}
