<button class="btn btn-primary" routerLink="/profile/collections">Return to Collections</button>

@if (collectionData) {
  <h1>{{collectionData.name}}</h1>

  @if (collectionData.shows.length != 0) {
    @for (show of collectionData.shows; track show.id) {
      <h3>{{show.title}}</h3>

      <!-- Poster images are sized w185, using 2:3 ratio -->
      <a [routerLink]="['/show', show.id]"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
    }
  } @else {
    <p>No shows in collection yet!</p>
  }
}
