pre {
  white-space: pre-wrap;
}

#collection-info {
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  #collection-info {
    gap: 15px !important;
    margin-bottom: 10px !important;
  }

  #edit-button {
    padding: 10px 20px !important;
  }

  pre {
    font-size: 1rem !important;
  }
}
