<div class="mb-3">
  @if (shows.length != 0) {
    <div class="d-flex gap-3 flex-wrap">
      @for (show of shows; track show.showId; let rank = $index) {
        <div class="d-flex flex-column align-items-center">
          <a [routerLink]="['/show', show.showId]">
            <!-- Poster images are sized w185, using 2:3 ratio -->
            <img class="poster-image" [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority>
          </a>

          @if (ranked) {
            <p>{{rank + 1}}</p>
          }
        </div>
      }
    </div>
  } @else {
    <p>No items on list</p>
  }
</div>

