<!-- formNumber 1 is the enter email form -->
@if (formNumber == 1) {
  <h1>Reset Password</h1>
  <h4>Enter the email linked to your account:</h4>
  <input [(ngModel)]="email" type="email" (keyup.enter)="submitEmail()">
  <button (click)="submitEmail()">Submit</button>

  <!-- formNumber 2 is the enter OTP code form -->
} @else if (formNumber == 2) {
  <button class="btn btn-secondary" (click)="formNumber = formNumber - 1">Back</button>
  <h1>Verify</h1>
  <p>If the email you entered was valid, a code has been sent to you (be sure to check junk)</p>
  <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6, allowNumbersOnly: true}"></ng-otp-input>

  <br>
  <div class="validation-error">{{invalidOtpMessage}}</div>

  <br>
  <button class="btn btn-primary" (click)="verifyCode()" [disabled]="otp.length !== 6">Verify</button>
  <br>
  <br>
  <p>Didn't receive code or code has expired? <button class="btn btn-link" (click)="submitEmail()">Resend</button></p>

  <!-- formNumber 3 is the enter new password form -->
} @else {
  <h1>Enter New Password</h1>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswordForm()">
    <div class="form-floating">
      <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="passwordInput" placeholder="Enter new password" formControlName="password" required autocomplete="new-password"
             [class.is-invalid]="password.invalid && (password.dirty || password.touched)" aria-describedby="passwordHelpBlock">
      <label for="passwordInput" class="form-label">New Password</label>
      <i role="button"
         class="bi show-password-icon"
         [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
         (click)="toggleShowPassword()"
         tabindex="0"
         (keyup.space)="toggleShowPassword()"
         (keyup.enter)="toggleShowPassword()">
        {{showPassword ? "Hide" : "Show"}} Password
      </i>
    </div>
    <div class="mb-4" style="margin-top: 0">
      <div id="passwordHelpBlock" class="form-text">
        Your password must be at least {{passwordMinLength}} characters long
      </div>

      @if (password.invalid && (password.dirty || password.touched)) {
        @if (password.hasError('required')) {
          <div class="validation-error">Password is required</div>
        } @else if (password.hasError('minlength')) {
          <div class="validation-error">Password is too short</div>
        }
      }
    </div>

    <div class="form-floating">
      <input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" placeholder="Re-enter your password" autocomplete="new-password"
             [class.is-invalid]="passwordForm.invalid && (confirmPassword.dirty || confirmPassword.touched)">
      <label for="confirmPassword" class="form-label">Confirm password</label>
      <i role="button"
         class="bi show-password-icon"
         [ngClass]="showConfirmPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
         (click)="toggleShowConfirmPassword()"
         tabindex="0"
         (keyup.space)="toggleShowConfirmPassword()"
         (keyup.enter)="toggleShowConfirmPassword()">
        {{showConfirmPassword ? "Hide" : "Show"}} Password
      </i>
    </div>
    <div class="mb-3">
      @if (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) {
        @if (confirmPassword.hasError('required')) {
          <div class="validation-error">Password is required</div>
        }
      } @else if (passwordForm.hasError('passwordsDontMatch') && (confirmPassword.dirty || confirmPassword.touched)) {
        <div class="validation-error">Passwords must match</div>
      }
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Confirm</button>
  </form>
}

