#reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 5rem);
}

#current-container {
  width: 100%;
  max-width: 550px;
  border-radius: 5px;
  padding: 50px 30px;
  background-color: white;
  border: 2px solid var(--outline-color);
}

#email-button, #otp-button, #reset-password-button, #login-button {
  background-color: var(--button-color);
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  border: none;
  transition: background-color 0.3s ease;
}

#email-button:hover, #otp-button:hover, #reset-password-button:hover, #login-button:hover {
  background-color: var(--outline-color);
}

#otp-email-icon, #otp-key-icon {
  border: 1px solid var(--outline-color);
  padding: 15px;
  border-radius: 10px;
}
