<!-- formNumber 1 is the enter email form -->
@if (formNumber == 1) {
  <h1>Reset Password</h1>
  <h4>Enter the email linked to your account:</h4>
  <input [(ngModel)]="email" type="email" (keyup.enter)="submitEmail()">
  <button (click)="submitEmail()">Submit</button>

  <!-- formNumber 2 is the enter OTP code form -->
} @else if (formNumber == 2) {
  <button class="btn btn-secondary" (click)="formNumber = formNumber - 1">Back</button>
  <h1>Verify</h1>
  <p>If the email you entered was valid, a code has been sent to you (be sure to check junk)</p>
  <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6, allowNumbersOnly: true}"></ng-otp-input>

  <br>
  <p id="otp-error-message"></p>

  <br>
  <button class="btn btn-primary" (click)="verifyCode()" [disabled]="otp.length !== 6">Verify</button>
  <br>
  <br>
  <p>Didn't receive code or code has expired? <button class="btn btn-link" (click)="submitEmail()">Resend</button></p>

  <!-- formNumber 3 is the enter new password form -->
} @else {
  <h1>Enter New Password</h1>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswordForm()" novalidate>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="passwordInput" placeholder="Enter new password" formControlName="password" required autocomplete="new-password">
      <label for="passwordInput" class="form-label">New Password</label>
      @if (password.invalid && (password.dirty || password.touched)) {
        @if (password.hasError('required')) {
          <div class="alert alert-danger">
            Please enter a password
          </div>
        }
      }
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
}

