<div id="reset-password-container">
  <div id="current-container">
    <!-- formNumber 1 is the enter email form -->
    @if (formNumber == 1) {

      <h1 class="text-center">Forgot Password?</h1>
      <h4 class="mb-5">No worries, we'll send you reset instructions.</h4>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <div class="position-relative">
          <img class="input-icon" ngSrc="envelope.svg" alt="Email icon" height="20" width="20">
          <input class="form-control" [formControl]="emailForm" type="email" placeholder="Enter your email" autocomplete="email">
        </div>
      </div>
      <button id="email-button" class="btn btn-primary mb-3" [disabled]="emailForm.invalid">Reset password</button>

      <!-- formNumber 2 is the enter OTP code form -->
    } @else if (formNumber == 2) {
      <div class="text-center">
        <img id="otp-email-icon" ngSrc="envelope-open.svg" alt="Email icon" height="70" width="70">
      </div>
      <h1 class="text-center">Password reset</h1>
      <h4 class="mb-4">We sent a code to <span class="fw-bold" style="color: black">{{emailForm.value}}</span></h4>
      <ng-otp-input
        (onInputChange)="onOtpChange($event)"
        [config]="
        {
          length: 6,
          allowNumbersOnly: true,
          inputStyles: {
              'width': '65px',
              'height': '65px',
              'border': '2px solid #778DA9',
              'border-radius': '10px'
          }
        }"></ng-otp-input>
      <button id="otp-button" class="btn btn-primary mt-4" (click)="verifyCode()" [disabled]="otp.length !== 6">Continue</button>
      <div class="validation-error mt-3">{{invalidOtpMessage}}</div>
      <p class="text-center mt-4">Didn't receive the email? <a class="link" style="cursor: pointer" (click)="submitEmail()">Click to resend</a></p>

      <!-- formNumber 3 is the enter new password form -->
    } @else if (formNumber == 3) {
      <div class="text-center mb-4">
        <img id="otp-key-icon" ngSrc="key.svg" alt="Key icon" width="70" height="70">
        <h1>Set new password</h1>
      </div>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswordForm()">
        <div>
          <label for="passwordInput" class="form-label">New Password</label>
          <div class="position-relative">
            <img class="input-icon" ngSrc="lock.svg" alt="New password icon" width="20" height="20">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="passwordInput" placeholder="Enter new password" formControlName="password" required autocomplete="new-password"
                   [class.is-invalid]="password.invalid && (password.dirty || password.touched)" aria-describedby="passwordHelpBlock">
            <i role="button"
               class="bi show-password-icon"
               [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
               (click)="toggleShowPassword()"
               tabindex="0"
               (keyup.space)="toggleShowPassword()"
               (keyup.enter)="toggleShowPassword()">
              {{showPassword ? "Hide" : "Show"}} Password
            </i>
          </div>
        </div>
        <div class="mb-3">
          <div id="passwordHelpBlock" class="form-text">
            Must be at least {{passwordMinLength}} characters
          </div>
          @if (password.invalid && (password.dirty || password.touched)) {
            @if (password.hasError('required')) {
              <div class="validation-error">Password is required</div>
            } @else if (password.hasError('minlength')) {
              <div class="validation-error">Password is too short</div>
            }
          }
        </div>

        <div>
          <label for="confirmPassword" class="form-label">Confirm password</label>
          <div class="position-relative">
            <img class="input-icon" ngSrc="lock.svg" alt="Confirm new password icon" width="20" height="20">
            <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm your password" autocomplete="new-password"
                   [class.is-invalid]="passwordForm.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          </div>
        </div>
        <div class="mb-3">
          @if (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) {
            @if (confirmPassword.hasError('required')) {
              <div class="validation-error">Password is required</div>
            }
          } @else if (passwordForm.hasError('passwordsDontMatch') && (confirmPassword.dirty || confirmPassword.touched)) {
            <div class="validation-error">Passwords must match</div>
          }
        </div>
        <button type="submit" id="reset-password-button" class="btn btn-primary mb-3" [disabled]="passwordForm.invalid">Reset password</button>
      </form>
    } @else {
      <!-- Form number 4 is the confirm change password screen, button to return to login -->
      <div class="text-center">
        <img class="my-3" ngSrc="check-circle-fill.svg" alt="Success checkmark" width="60" height="60">
        <h1>Password reset!</h1>
        <h4 class="mb-3">Your password has been successfully reset.</h4>
      </div>
      <button id="login-button" class="btn btn-primary mb-5" routerLink="/login">Back to login</button>
    }
  </div>
</div>

