@if (show) {
  <h1>{{show.name}}</h1>

  <!-- If the show didn't air for more than one year only display once -->
  @if (!show.firstAirDate && !show.lastAirDate) {
    <h2>Air Dates Unknown</h2>
  } @else if (show.firstAirDate === show.lastAirDate) {
    <h2>{{show.firstAirDate}}</h2>
  } @else {
    <h2>{{show.firstAirDate}} - {{show.lastAirDate}}</h2>
  }

  <h3>Rating: {{show.rating}}</h3>
  <h3>IMDb rating: {{show.imdbRating}} with {{show.imdbVotes}} votes</h3>

  <h3>Tagline: {{show.tagline}}</h3>
  <h3>Plot: {{show.plot}}</h3>

  <h3>Genres: {{show.genreString}}</h3>

  <h3>Awards: {{show.awards}}</h3>

  <h3>Watch Options:</h3>

  <h5>Stream:</h5>
  @if (show.streamingOptions.length != 0) {
    @for (service of show.streamingOptions; track service.name) {
      <img [ngSrc]="service.logoPath" alt="Service Logo" width="100" height="100">
    }
  } @else {
    <p>Unknown</p>
  }

  <h5>Buy:</h5>
  @if (show.buyOptions.length != 0) {
    @for (service of show.buyOptions; track service.name) {
      <img [ngSrc]="service.logoPath" alt="Service Logo" width="100" height="100">
    }
  } @else {
    <p>Unknown</p>
  }

  @if (show.averageRuntime !== "N/A") {
    <h3>Average Episode Runtime: {{show.averageRuntime}}</h3>
  } @else {
    <h3>Average Episode Runtime: Unknown</h3>
  }
  <h3>Number of Episodes: {{show.numEpisodes}}</h3>

  <!-- Display season dropdown -->
  <h3>Seasons: </h3>
  <select #seasonsDropdown (change)="seasonSelected(seasonsDropdown.value)">
    <option value="---"></option>
    @for (_ of [].constructor(show.numSeasons); let season = $index; track season) {
      <option [value]="season + 1">{{season + 1}}</option>
    }
  </select>

  <!-- Backdrop images are sized w1280, using 16:9 ratio -->
  <h3>Backdrop</h3>
  <img [ngSrc]="show.backdropPath" alt="Show Backdrop" width="1280" height="720" priority>

  <!-- Poster images are sized w500, using 2:3 ratio -->
  <h3>Poster</h3>
  <img [ngSrc]="show.posterPath" alt="Poster Image" width="500" height="750" priority>

  <br>
  <br>
  <button (click)="addShowToWatchlist()">Add to Watchlist</button>
  <br>
  <br>
  <button (click)="addShowToWatchingList()">Add to Currently Watching</button>
  <br>
  <br>
  <button (click)="addShowToRankingList()">Add to Ranking List</button>
  <br>
  <br>
  <button (click)="addReviewPressed()" type="button" data-bs-toggle="modal" data-bs-target="#reviewModal">
    Add Review
  </button>

  <div class="modal fade" id="reviewModal" aria-labelledby="reviewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="reviewModalLabel">New Review for {{show.name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="review-form">
            <div class="mb-3">
              <label for="ratingInput" class="form-label">Rating</label>
              <input type="range" value="0" max="10" step="0.1" oninput="num.value = this.value" class="form-range" id="ratingInput" name="rating">
              <output id="num">0</output>
            </div>
            <div class="mb-3">
              <label for="commentaryInput" class="form-label">Commentary</label>
              <textarea class="form-control" id="commentaryInput" name="commentary" rows="10" maxlength="5000" aria-describedby="commentaryHelpBlock"
                        (keyup)="displayCommentaryCharactersLeft()" (input)="displayCommentaryCharactersLeft()"></textarea>
              <div id="commentaryHelpBlock" class="form-text">5000 characters remaining</div>
            </div>
            <div class="mb-3 form-check">
              <label for="spoilersCheck" class="form-check-label">Contains Spoilers</label>
              <input type="checkbox" class="form-check-input" id="spoilersCheck" name="spoilers">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="reviewSubmitted()" data-bs-dismiss="modal">Add Review</button>
        </div>
      </div>
    </div>
  </div>

  <h2>Cast</h2>
  @if (show.cast.length != 0) {
    @for (cast of show.cast; track cast.id) {
      <h4>Actor: {{cast.name}} as {{cast.character}}</h4>
      <!-- Profile images are sized w185, using 2:3 ratio -->
      <img [ngSrc]="cast.profilePath" alt="Actor Picture" width="185" height="278" priority>
    }
  } @else {
    <h4>No Cast Found</h4>
  }


  <h2>Creator(s)</h2>
  @if (show.creators.length != 0) {
    @for (creator of show.creators; track creator.id) {
      <h4>Name: {{creator.name}}</h4>
      <!-- Profile images are sized w185, using 2:3 ratio -->
      <img [ngSrc]="creator.profilePath" alt="Actor Picture" width="185" height="278" priority>
    }
  } @else {
    <h4>No Creators Found</h4>
  }
}

@if (reviews) {
  <h2>Reviews</h2>
  @if (reviews.length != 0) {
    @for (review of reviews; track review.id) {
      <h4>Username: {{review.reviewerUsername}}</h4>
      <img id="profile-picture" [ngSrc]="review.reviewerProfilePicture" alt="Profile Picture" width="100" height="100">
      <h4>Date: {{utilsService.getFormattedDate(review.reviewDate)}}</h4>
      <h4>Relative Time Since Review: {{review.relativeDate}}</h4>
      <h4>Rating: {{review.rating}}</h4>
      <h4>Commentary: {{review.commentary}}</h4>
      <h4>Contains Spoilers: {{review.containsSpoilers}}</h4>
      <h4>Likes: {{review.likes}}</h4>
      <button (click)="likeShowReview(review.id)">Like</button>
      <br>
    }
  } @else {
    <h4>No Reviews for this Show</h4>
  }

}
