#profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.review-heart {
  color: red;
}

.review-heart:hover {
  cursor: pointer;
}

#like-div {
  display: flex;
  align-items: center;
}

#like-count {
  font-size: 1.5rem;
}
