@if (show) {
  <h1>{{show.name}}</h1>

  <!-- If the show didn't air for more than one year only display once -->
  @if (!show.firstAirDate && !show.lastAirDate) {
    <h2>Air Dates Unknown</h2>
  } @else if (show.firstAirDate === show.lastAirDate) {
    <h2>{{show.firstAirDate}}</h2>
  } @else {
    <h2>{{show.firstAirDate}} - {{show.lastAirDate}}</h2>
  }

  <h3>Rating: {{show.rating}}</h3>
  <h3>IMDb rating: {{show.imdbRating}} with {{show.imdbVotes}} votes</h3>

  <h3>Tagline: {{show.tagline}}</h3>
  <h3>Plot: {{show.plot}}</h3>

  <h3>Genres: {{show.genreString}}</h3>

  <h3>Awards: {{show.awards}}</h3>

  <h3>Watch Options:</h3>

  <h5>Stream:</h5>
  @if (show.streamingOptions.length != 0) {
    @for (service of show.streamingOptions; track service.name) {
      <img [ngSrc]="service.logoPath" alt="Service Logo" width="100" height="100">
    }
  } @else {
    <p>Unknown</p>
  }

  <h5>Buy:</h5>
  @if (show.buyOptions.length != 0) {
    @for (service of show.buyOptions; track service.name) {
      <img [ngSrc]="service.logoPath" alt="Service Logo" width="100" height="100">
    }
  } @else {
    <p>Unknown</p>
  }

  @if (show.averageRuntime !== "N/A") {
    <h3>Average Episode Runtime: {{show.averageRuntime}}</h3>
  } @else {
    <h3>Average Episode Runtime: Unknown</h3>
  }
  <h3>Number of Episodes: {{show.numEpisodes}}</h3>

  <!-- Display season dropdown -->
  <h3>Seasons: </h3>
  <select #seasonsDropdown (change)="seasonSelected(seasonsDropdown.value)">
    <option value="---"></option>
    @for (_ of [].constructor(show.numSeasons); let season = $index; track season) {
      <option [value]="season + 1">{{season + 1}}</option>
    }
  </select>

  <!-- Backdrop images are sized w1280, using 16:9 ratio -->
  <h3>Backdrop</h3>
  <img [ngSrc]="show.backdropPath" alt="Show Backdrop" width="1280" height="720" priority>

  <!-- Poster images are sized w500, using 2:3 ratio -->
  <h3 class="ms-2">Poster</h3>
  <img class="ms-2" [ngSrc]="show.posterPath" alt="Poster Image" width="500" height="750" priority>

  <br>
  <br>

  @if (show.onWatchlist) {
    <button class="btn btn-danger ms-2" (click)="removeShowFromWatchlist()">Remove from Watchlist</button>
  } @else {
    <button class="btn btn-success ms-2" (click)="addShowToWatchlist()">Add to Watchlist</button>
  }

  <br>
  <br>

  @if (show.onWatchingList) {
    <button class="btn btn-danger ms-2" (click)="removeShowFromWatchingList()">Remove from Currently Watching</button>
  } @else {
    <button class="btn btn-success ms-2" (click)="addShowToWatchingList()">Add to Currently Watching</button>
  }

  <br>
  <br>

  @if (show.onRankingList) {
    <button class="btn btn-danger ms-2" (click)="removeShowFromRankingList()">Remove from Ranking List</button>
  } @else {
    <button class="btn btn-success ms-2" (click)="addShowToRankingList()">Add to Ranking List</button>
  }

  <br>
  <br>

  <button class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#collectionModal" (click)="addToCollectionPressed()">Add to Collection</button>

  <div class="modal fade" id="collectionModal" aria-labelledby="collectionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add {{show.name}} to Collection</h5>
          <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="search-bar" class="form-label">Search Collections</label>
            <input type="text" id="search-bar" class="form-control" placeholder="Search..." [(ngModel)]="searchCollectionString" (input)="debouncedSearchCollections()">
          </div>
          @if (collections?.length != 0) {
            <ul class="list-group overflow-auto scrollable-list">
              @for (collection of collections; track collection.id) {
                <li class="list-group-item">
                  <input class="form-check-input me-2" type="radio" name="collectionRadio" value="" (click)="collectionSelection = collection.id">
                  <label class="form-check-label" >{{collection.name}}</label>
                </li>
              }
            </ul>
          } @else {
            <p>No Collections Found!</p>
          }
          <div class="input-group mt-5">
            <input type="text" class="form-control" placeholder="New Collection" aria-label="New Collection" aria-describedby="createCollectionButton" id="newCollectionInput" [(ngModel)]="newCollectionName" (keyup.enter)="createNewCollection()">
            <button class="btn btn-primary" id="createCollectionButton" (click)="createNewCollection()" [disabled]="newCollectionName == null || newCollectionName.length == 0">Create</button>
          </div>
          <div id="collection-message" class="mt-3"></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" [disabled]="collectionSelection == null" (click)="collectionSubmitted()">Add to Collection</button>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <button class="btn btn-primary ms-2" (click)="addReviewPressed()" type="button" data-bs-toggle="modal" data-bs-target="#reviewModal">
    Add Review
  </button>

  <div class="modal fade" id="reviewModal" aria-labelledby="reviewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="reviewModalLabel">New Review for {{show.name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="review-form">
            <div class="mb-3">
              <label for="ratingInput" class="form-label">Rating</label>
              <input type="range" value="0" max="10" step="0.1" oninput="num.value = this.value" class="form-range" id="ratingInput" name="rating">
              <output id="num">0</output>
            </div>
            <div class="mb-3">
              <label for="commentaryInput" class="form-label">Commentary</label>
              <textarea class="form-control" id="commentaryInput" name="commentary" rows="10" maxlength="5000" aria-describedby="commentaryHelpBlock"
                        (keyup)="displayCommentaryCharactersLeft()" (input)="displayCommentaryCharactersLeft()"></textarea>
              <div id="commentaryHelpBlock" class="form-text">5000 characters remaining</div>
            </div>
            <div class="mb-3 form-check">
              <label for="spoilersCheck" class="form-check-label">Contains Spoilers</label>
              <input type="checkbox" class="form-check-input" id="spoilersCheck" name="spoilers">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="reviewSubmitted()" data-bs-dismiss="modal">Add Review</button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="ms-2">Cast</h2>
  <div class="container ms-0">
    <div class="row">
      @if (show.cast.length != 0) {
        @for (cast of show.cast; track cast.id) {
          <div class="col-4 col-sm-4 col-md-3 col-lg-2 mb-4 me-4 d-flex flex-column">
            <div class="flex-grow-1">
              <h5>{{cast.name}}</h5>
              <p class="text-muted mb-0">as {{cast.character}}</p>
            </div>
            <div class="mt-auto">
              <!-- Profile images are sized w185, using 2:3 ratio -->
              <img [ngSrc]="cast.profilePath" alt="Actor Picture" width="185" height="278" priority>
            </div>
          </div>
        }
      } @else {
        <h4 class="ms-2">No Cast Found</h4>
      }
    </div>
  </div>


  <h2 class="ms-2">Creator(s)</h2>
  <div class="container ms-0">
    <div class="row">
      @if (show.creators.length != 0) {
        @for (creator of show.creators; track creator.id) {
          <div class="col-4 col-sm-4 col-md-3 col-lg-2 mb-4 me-4 d-flex flex-column">
            <div class="flex-grow-1">
              <h4>{{creator.name}}</h4>
            </div>
            <div class="mt-auto">
              <!-- Profile images are sized w185, using 2:3 ratio -->
              <img [ngSrc]="creator.profilePath" alt="Actor Picture" width="185" height="278" priority>
            </div>
          </div>
        }
      } @else {
        <h4 class="ms-2">No Creators Found</h4>
      }
    </div>
  </div>

  <h2 class="ms-2">You Might Like...</h2>
  <div class="d-flex">
    @for (show of show.recommendations; track show.id) {
      <div class="ms-2">
        <a [routerLink]="['/show', show.id]">
          <img [ngSrc]="show.posterPath" alt="Show Recommendation Picture" width="185" height="278">
        </a>
      </div>
    }
  </div>
}

@if (reviews) {
  <h2 class="ms-2 mb-4">Reviews</h2>
  @if (reviews.length != 0) {
    @for (review of reviews; track review.id) {
      <div class="mb-5 ms-2 d-flex flex-row align-items-start">
        <img id="profile-picture" [ngSrc]="review.reviewerProfilePicture" alt="Profile Picture" width="100" height="100">
        <div class="ms-3">
          <div>
            <h4><a href="/user/{{review.userId}}" class="text-dark">{{review.reviewerUsername}}</a></h4>
            <p>{{review.relativeDate}}</p>
          </div>
          <div>
            <p>{{review.rating}}/10</p>
            <p>{{review.commentary}}</p>
            <p>Contains Spoilers: {{review.containsSpoilers}}</p>
          </div>
        </div>
        <div class="ms-auto me-5 d-flex align-items-center">
          <yt-button-heart [isLiked]="review.likedByUser" [size]="heartSize" (click)="toggleLikeState(review)"></yt-button-heart>
          <div id="like-count">{{review.likes}}</div>
        </div>
      </div>
    }
  } @else {
    <h4 class="ms-2">No Reviews for this Show</h4>
  }
}
