<div class="modal-header">
  <h5 class="modal-title" id="createCollectionModal">Create New Collection</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="collectionNameInput" class="form-label"></label>
    <input type="text" class="form-control" id="collectionNameInput" placeholder="Enter Collection Name..." [(ngModel)]="newCollectionName"
           [maxlength]="maxNameLength" (input)="utilsService.displayCharactersLeft('collectionNameInput', 'nameHelpBlock', maxNameLength)">
    <div id="nameHelpBlock" class="form-text">{{ maxNameLength - newCollectionName?.length }} characters remaining</div>
  </div>
  <div class="mb-3" [style.color]="messageColor">{{message}}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
  <button type="button" class="btn btn-primary" [disabled]="newCollectionName.trim().length == 0">Create</button>
</div>
