<button (click)="returnToProfilePressed()">Return to Profile</button>

@if (watchlistEntries) {
  <h1>Watchlist</h1>

  @for (show of watchlistEntries; track show.showId) {
    <h5>{{show.title}}</h5>

    <!-- Poster images are sized w185, using 2:3 ratio -->
    <a [href]="'/show/' + show.showId"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>

    <button (click)="removeShowFromWatchlist(show.showId)">Remove Show</button>
    <button (click)="moveShowToWatchingList(show.showId)">Move Show to Watching</button>
  }
}
