<button type="button" class="btn btn-primary" routerLink="/profile">Return to Profile</button>
<br>
<br>
<button type="button" class="btn btn-success" (click)="openSearchShowsModal()">Add Character Dynamic</button>

<h1 class="my-4">Character Dynamics Ranking</h1>

<app-ranked-dynamic-list-full [dynamics]="dynamics"
                              editable
                              (update)="updateDynamicRankingList()"
                              (remove)="removeDynamic($event)"
></app-ranked-dynamic-list-full>
