<button class="btn btn-primary" routerLink="/profile">Return to Profile</button>
<br>
<button class="btn btn-success mt-3 mb-3" (click)="openSearchShowsModal()">Add Show</button>

@if (watchingEntries) {
  <app-show-list-full title="Watching"
                      [shows]="watchingEntries"
                      editable
                      (remove)="removeShowFromWatchingList($event)"
                      (move)="moveShowToRankingList($event)"
                      moveTitle="Favorite Shows"
  ></app-show-list-full>
} @else {
  <p>You don't have any shows on your watching list yet!</p>
}
