<button routerLink="/profile">Return to Profile</button>

<br>
<br>
<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addShowModal">Add Show</button>
<br>
<br>

<app-add-show-modal (addShow)="handleAddShow($event)"
                    title="Add Show to Watching List"
                    [message]="modalMessage"
                    [messageColor]="modalColor"
></app-add-show-modal>

@if (watchingEntries) {
  <h1>Watching</h1>

  @for (show of watchingEntries; track show.showId) {
    <h5>{{show.title}}</h5>

    <!-- Poster images are sized w185, using 2:3 ratio -->
    <a [routerLink]="['/show', show.showId]"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>

    <button (click)="removeShowFromWatchingList(show.showId)">Remove Show</button>
    <button (click)="moveShowToRankingList(show.showId)">Move to Ranking</button>
  }
}
