<div class="container text-white pt-5" style="margin-bottom: 15vh">
  <a class="d-inline-flex align-items-center gap-3 mb-5 text-decoration-none text-reset" [routerLink]="['..']">
    <img ngSrc="chevron-left.svg" alt="" height="40" width="40">
    <h3>Back to profile</h3>
  </a>

  <div class="d-flex align-items-center gap-5">
    <h1 class="fw-bold">Your favorite shows</h1>
    <button id="edit-button" type="button" class="btn btn-primary fs-5" routerLink="edit">Edit</button>
  </div>

  @if (rankingEntries) {
    <app-show-list-full [shows]="rankingEntries" ranked></app-show-list-full>
  } @else {
    <p class="fs-4">No shows on list</p>
  }
</div>
