<div class="container text-white pt-5" style="margin-bottom: 15vh">
  <h1 id="page-title" class="fw-bold mb-5">Your activity</h1>

  @if (isLoading) {
    <div class="d-flex justify-content-center mt-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else if (activityData?.content.length) {
    @for (activity of activityData.content; track activity.id) {
      <div class="d-flex align-items-center mb-3 activity-item" style="cursor: pointer" (click)="navigateToActivity(activity)">
        <img class="profile-picture me-4" [ngSrc]="activity.user.profilePicture" [routerLink]="['/user', activity.user.username]" alt="User Profile Picture" width="100" height="100">
        <h5>
          <a class="text-decoration-none white-link fw-bold activity-user" [routerLink]="['/user', activity.user.username]">{{activity.user.username}}</a>
          @switch (activity.activityType) {
            @case (ActivityType.Follow) {
              <span class="activity-text">{{getFollowDescription(activity)[1]}}</span>
            }
            @case (ActivityType.LikeShowReview) {
              <span class="activity-text">{{getShowReviewLikeDescription(activity)[1]}}</span>
            }
            @case (ActivityType.CommentShowReview) {
              <span class="activity-text">{{getShowReviewCommentDescription(activity)[1]}}</span>
            }
            @case (ActivityType.LikeEpisodeReview) {
              <span class="activity-text">{{getEpisodeReviewLikeDescription(activity)[1]}}</span>
            }
            @case (ActivityType.CommentEpisodeReview) {
              <span class="activity-text">{{getEpisodeReviewCommentDescription(activity)[1]}}</span>
            }
            @case (ActivityType.LikeShowReviewComment) {
              <span class="activity-text">{{getShowReviewCommentLikeDescription(activity)[1]}}</span>
            }
            @case (ActivityType.LikeEpisodeReviewComment) {
              <span class="activity-text">{{getEpisodeReviewCommentLikeDescription(activity)[1]}}</span>
            }
            @case (ActivityType.LikeCollection) {
              <span class="activity-text">{{getCollectionLikeDescription(activity)[1]}}</span>
            }
            @case (ActivityType.LikeSeasonReview) {
              <span class="activity-text">{{getSeasonReviewLikeDescription(activity)[1]}}</span>
            }
            @case (ActivityType.CommentSeasonReview) {
              <span class="activity-text">{{getSeasonReviewCommentDescription(activity)[1]}}</span>
            }
            @case (ActivityType.LikeSeasonReviewComment) {
              <span class="activity-text">{{getSeasonReviewCommentLikeDescription(activity)[1]}}</span>
            }
        }
        </h5>
        <h5 class="ms-auto text-reset fw-light activity-date">{{utilsService.getRelativeDate(activity.createdAt)}}</h5>
      </div>
      <hr>
    }

  @if (isLoadingMore) {
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else if (activityData.page.number + 1 < activityData.page.totalPages) {
    <div class="d-flex justify-content-center mb-5">
      <button type="button" class="btn btn-primary" (click)="getMoreActivity()">Load More</button>
    </div>
  }
} @else {
  <h4 class="text-reset">No activity</h4>
}
</div>
