<button (click)="returnToProfilePressed()">Return to Profile</button>

@if (rankingEntries) {
  <h1>Episode Ranking</h1>

  @for (show of rankingEntries; track show.showId; let rank = $index) {
    <h5>{{rank + 1}}</h5>
    <h5>Show: {{show.showTitle}}</h5>
    <h5>Episode: {{show.episodeTitle}}</h5>
    <h5>S{{show.season}} E{{show.episode}}</h5>

    <!-- Episode stills are sized w185, with a 16:9 ratio -->
    <a [href]="'/show/' + show.showId + '/season/' + show.season + '/episode/' + show.episode"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="104" priority></a>

    <button (click)="removeEpisodeFromRankingList(show.showId, show.season, show.episode)">Remove Episode</button>
  }
}
