<div class="ms-2 d-flex flex-row align-items-start border border-primary">
  <img class="profile-picture" [ngSrc]="review.profilePicture" alt="Profile Picture" width="100" height="100">
  <div class="ms-3 border border-primary w-100">
    <div>
      <h4><a [routerLink]="['/user', review.userId]" class="text-dark">{{review.username}}</a></h4>
      <p>{{utilsService.getRelativeDate(review.reviewDate)}}</p>
    </div>
    <div>
      <p>{{review.rating}}/10</p>
      <p>{{review.commentary}}</p>
      <p>Contains Spoilers: {{review.containsSpoilers}}</p>
    </div>
    @if (review.numComments > 0) {
      <button type="button" class="btn btn-secondary" (click)="getReviewComments()">View {{review.numComments}} repl{{review.numComments !== 1 ? 'ies' : 'y'}}</button>
      <button type="button" class="btn btn-secondary ms-2">Reply</button>
      <br>
      <br>
    }
  </div>
  <div class="ms-auto me-5 d-flex align-items-center border border-primary">
    <yt-button-heart [isLiked]="review.isLikedByUser" [size]="heartSize" (click)="toggleReviewLikeState()"></yt-button-heart>
    <div id="like-count">{{review.numLikes}}</div>
  </div>
</div>
<div style="margin-left: 6rem">
  @if (review.numComments > 0) {
    @for (comment of review.comments; track comment.id) {
      <app-comment [comment]="comment" [reviewType]="reviewType"></app-comment>
    }
  }
</div>
