<div [id]="review.id" class="review ms-2 d-flex flex-row align-items-start">
  <img class="profile-picture" [ngSrc]="review.profilePicture" alt="Profile Picture" width="100" height="100">
  <div class="ms-3 w-100">
    <div>
      <h4><a [routerLink]="['/user', review.userId]" class="text-dark">{{review.username}}</a></h4>
      <span>{{utilsService.getRelativeDate(review.reviewDate)}}</span>
    </div>
    <div>
      <div class="d-flex align-items-center mb-2">
        <span>{{review.rating}}</span>
        <i class="bi bi-star-fill ms-1 fs-5" style="color: #f2cb22;"></i>
      </div>
      <span>{{review.commentary}}</span>
      <p>Contains Spoilers: {{review.containsSpoilers}}</p>
    </div>

    @if (review.numComments > 0) {
      <button type="button" class="btn btn-secondary me-2" [hidden]="!areCommentsHidden" (click)="getReviewComments()">View {{review.numComments}} repl{{review.numComments !== 1 ? 'ies' : 'y'}}</button>
    }
    <button type="button" class="btn btn-secondary" (click)="resetCommentBox()">Reply</button>
    <br>
    <br>
  </div>
  <div class="ms-auto me-5 d-flex align-items-center">
    <yt-button-heart [isLiked]="review.isLikedByUser" [size]="heartSize" (click)="toggleReviewLikeState()"></yt-button-heart>
    <div id="like-count">{{review.numLikes}}</div>
  </div>
</div>
<div style="margin-left: 7.8rem">
  <div class="mb-5" [hidden]="!showCommentBox">
    <label [for]="'commentBox-' + review.id" class="form-label">Add Comment</label>
    <textarea [id]="'commentBox-' + review.id" #commentBox class="form-control w-50" rows="5" [maxLength]="maxCommentLength" [(ngModel)]="commentText" aria-describedby="commentHelpBlock"></textarea>
    <div id="commentHelpBlock" class="form-text">{{maxCommentLength - commentText.length}} characters remaining</div>
    <div class="mt-3">
      <button type="button" class="btn btn-secondary me-3" (click)="resetCommentBox()">Cancel</button>
      <button type="button" class="btn btn-primary" [disabled]="commentText.trim().length === 0" (click)="addComment()">Add</button>
    </div>
  </div>
  <div class="my-3" style="color: green">{{commentMessage}}</div>

  @if (isLoadingComments) {
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  }@else if (review.numComments > 0 && review.comments) {
    <div [hidden]="areCommentsHidden">
      @for (comment of review.comments.content; track comment.id) {
        <app-comment [comment]="comment" [reviewType]="reviewType"></app-comment>
      }
    </div>

    @if (review.comments.page.number + 1 < review.comments.page.totalPages) {
      <button type="button" class="btn btn-primary me-3 mb-5" (click)="getMoreReviewComments()">View {{review.comments.page.totalElements - (review.comments.page.number + 1) * review.comments.page.size}} More</button>
    }
  }
  <button type="button" [hidden]="areCommentsHidden" (click)="areCommentsHidden = true" class="btn btn-secondary mb-5">Hide Repl{{review.numComments !== 1 ? 'ies' : 'y'}}</button>
</div>
