<button routerLink="/profile">Return to Profile</button>

@if (characterRankings) {
  <h1>{{uppercaseCharacterType()}} Rankings</h1>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{uppercaseCharacterType()}}
    </button>
    <ul class="dropdown-menu">
      @for (type of validCharacterTypes; track type) {
        <li><a class="dropdown-item" [routerLink]="['/profile/character-ranking', type]">{{uppercaseCharacterType(type)}}</a></li>
      }
    </ul>
  </div>

  @if (selectedCharacterRankings.length != 0) {
    <div cdkDropList class="character-list" (cdkDropListDropped)="drop($event)">
      @for (character of selectedCharacterRankings; track character.name; let rank = $index) {
        <div class="character-box" cdkDrag>
          <h3>{{rank + 1}}</h3>
          <h3>{{character.name}} - {{character.show}}</h3>

          <button>Remove Character</button>
        </div>
      }
    </div>
  } @else {
    <h3>No {{uppercaseCharacterType()}} ranked yet!</h3>
  }
}
