<button routerLink="/profile">Return to Profile</button>

@if (characterRankings) {
  <h1>{{uppercaseCharacterType()}} Rankings</h1>

  <div class="dropdown mb-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{uppercaseCharacterType()}}
    </button>
    <ul class="dropdown-menu">
      @for (type of validCharacterTypes; track type) {
        <li><a class="dropdown-item" [routerLink]="['/profile/character-ranking', type]">{{uppercaseCharacterType(type)}}</a></li>
      }
    </ul>
  </div>

  @if (selectedCharacterRankings.length != 0) {
    <div cdkDropList class="character-list" (cdkDropListDropped)="drop($event)">
      @for (character of selectedCharacterRankings; track character.name; let rank = $index) {
        <div class="character-box" cdkDrag>
          <h3>{{rank + 1}}</h3>
          <h3>{{character.name}} - {{character.show}}</h3>

          <button>Remove Character</button>
        </div>
      }
    </div>
  } @else {
    <h3>No {{uppercaseCharacterType()}} ranked yet!</h3>
  }
}

<form id="character-form" class="row mt-5 g-3 me-2 ms-2" novalidate>
  <div class="col-4">
    <div class="form-floating">
      <input type="text" class="form-control" id="name" name="characterName" placeholder="Character Name" required>
      <label for="name">Character Name</label>
      <div class="invalid-feedback">
        Please enter a character name
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating">
      <input type="text" class="form-control" id="show" name="showName" placeholder="Show" required>
      <label for="show">Show</label>
      <div class="invalid-feedback">
        Please enter a show name
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary col-2">Add Character</button>
</form>
