<div class="modal-header">
  <h4 class="modal-title text-reset" id="confirmDeleteReviewModal">Delete review?</h4>
  <button type="button" class="btn btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  Are you sure you want to delete your review of {{itemName}}? This action <span class="text-danger">cannot be undone.</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-danger" ngbAutofocus (click)="activeModal.close()">Yes, delete my review</button>
</div>
