<h1>Search Page</h1>
<input [(ngModel)]="searchString" (keyup.enter)="search()">
<button (click)="search()">Search</button>

@if (searchResults) {
  @for (result of searchResults.results; track result.id) {
    <h2>{{result.name}}</h2>

    <!-- If the show didn't air for more than one year only display once -->
    @if (!result.firstAirDate && !result.lastAirDate) {
      <h3>Air Dates Unknown</h3>
    } @else if (result.firstAirDate === result.lastAirDate) {
      <h3>{{result.firstAirDate}}</h3>
    } @else {
      <h3>{{result.firstAirDate}} - {{result.lastAirDate}}</h3>
    }

    <!-- Poster images are sized w185, using 2:3 ratio -->
    <a href="/show/{{result.id}}"><img [ngSrc]="result.posterPath" alt="Poster Image" width="185" height="278"></a>
    <br>
  }

}
