<div #scrollableContainer class="scrollable-container">
  <div cdkDropList class="scroll-list" (cdkDropListDropped)="drop($event)">
    @for (dynamic of dynamics; track dynamic.id; let rank = $index) {
      <div class="scroll-box" style="padding: 40px 40px" cdkDrag (cdkDragMoved)="onDragMoved($event)">
        <div class="d-flex align-items-center gap-5 w-100">
          <input name="rank" type="text" [value]="rank + 1" class="form-control rank-input" (keydown.enter)="moveToPosition($event, rank)">

          <div class="col-6 text-center">
            <h3 class="mb-0">{{dynamic.character1Name}} & {{dynamic.character2Name}}</h3>
            <h5 class="mb-0" style="font-weight: 300">{{dynamic.showTitle}}</h5>
          </div>
        </div>

        <div class="right-section" style="margin: -40px -40px">
          <button id="delete-button" class="btn btn-primary d-flex align-item-center" (click)="removeEvent(dynamic)">
            <img ngSrc="trash.svg" alt="Remove show" height="20" width="20">
          </button>
          <div class="grip-container" cdkDragHandle style="cursor: move">
            <img class="grip" ngSrc="grip-vertical.svg" alt="Reorder list" height="50" width="50">
          </div>
        </div>
      </div>
    }
  </div>
</div>
