<div class="d-flex gap-5 mb-3">
  <h3 class="fw-bold">Favorite episodes</h3>
  <a routerLink="episode-ranking" class="link-offset-3 white-link">View all</a>
</div>

@if (episodes.length != 0) {
  <div class="d-flex gap-3 flex-wrap">
    @for (episode of episodes; track episode.episodeId; let rank = $index) {
      <div class="d-flex flex-column align-items-center">
        <a [routerLink]="['/show', episode.showId, 'season', episode.season, 'episode', episode.episode]">
          <!-- Episode stills are sized w185, with a 16:9 ratio -->
          <img class="poster-image" [ngSrc]="episode.posterPath" alt="Show Poster" width="185" height="104" priority>
        </a>

        <p>{{rank + 1}}</p>
      </div>
    }
  </div>
} @else {
  <p>No items on list</p>
}
