.search-option {
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

.search-option:hover {
  background-color: var(--button-hover-color);
}

.search-option.selected {
  background-color: var(--outline-color);
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

#search-input {
  background-color: transparent;
  border-radius: 20px;
  color: white;
}

#search-input::placeholder {
  color: white;
}

.username {
  transition: color 0.3s ease;
}

.username:hover {
  color: #d3d3d3;
}

#mobile-title {
  display: none;

}

@media (max-width: 600px) {
  h1 {
    font-size: 1.49rem;
    margin-top: 0.5rem;
  }

  #mobile-title {
    display: block;
  }

  #desktop-title {
    display: none;
  }

  .search-option {
    padding: 10px 30px;
  }

  #content-container {
    flex-direction: column;
    gap: 10px !important;
  }

  #button-group {
    flex-direction: row !important;
    padding-top: 0 !important;
    padding-bottom: 0.5rem;
  }

  .show-title {
    font-size: 1.25rem;
  }

  .show-years {
    width: 50%;
  }

  .show-years, .genre-list {
    font-size: 0.85rem;
  }

  .show-header {
    gap: 0.5rem !important;
  }

  #search-input {
    border-radius: 10px;
  }
}
