/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #020207;
  --button-color: #1B263B;
  --button-hover-color: #2C3E50;
  --outline-color: #778DA9;
  --star-color: #FFD51F;
  --error-color: #DC3545;
  --error-hover-color: #C82333;
  --success-color: #198754;
  --subheader-color: #575757;
}

body {
  font-family: 'Lato', sans-serif !important;
  background-color: var(--background-color) !important;
}

nav {
  background-color: var(--button-color);
  border-bottom: 2px solid var(--outline-color);
}

.nav-link, .nav-logo {
  color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.show-password-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  user-select: none;
  font-style: normal;
}

.show-password-icon:hover {
  color: #000;
}

.circle-divider {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
}

.link {
  color: var(--button-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--outline-color);
}

.form-control.input-with-icon {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: var(--outline-color);
  border-width: 2px;
}

#nav-searchbar {
  width: 25vw;
}

#search-input {
  background-color: transparent;
  border-radius: 20px;
  color: white;
}

#search-input::placeholder {
  color: rgba(242, 242, 242, 0.7);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

h1 {
  font-weight: 500;
}

h4 {
  color: var(--subheader-color) !important;
}

.form-control.is-invalid ~ .show-password-icon {
  right: 2.5rem;
}

.validation-error {
  color: var(--error-color);
}

.validation-success {
  color: var(--success-color);
}

.required-label {
  font-size: 0.9rem;
  opacity: 75%;
  color: var(--error-color);
}

hr {
  border-top: 2px solid var(--outline-color) !important;
}

.profile-picture {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.poster-image {
  border-radius: 20px;
}

.page-button {
  background-color: transparent;
  border: none;
}

.page-button:disabled img {
  opacity: 0.5;
}

.custom-tabs.nav-tabs {
  border-bottom: none;
}

.custom-tabs.nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  color: var(--outline-color);
  position: relative;
  padding: 0.75rem 0;
  margin-right: 4rem;
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

/* Underline effect */
.custom-tabs.nav-tabs .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--outline-color);
  transition: width 0.3s ease;
}

/* Active tab */
.custom-tabs.nav-tabs .nav-link.active {
  color: var(--outline-color) !important; /* Active text color */
  background: none;
}

.custom-tabs.nav-tabs .nav-link.active::after {
  width: 100%;
}

/* Hover effect for non-active tabs */
.custom-tabs.nav-tabs .nav-link:not(.active):hover {
  color: var(--outline-color) !important;
}

.custom-tabs.nav-tabs .nav-link:not(.active):hover::after {
  width: 100%;
}

pre {
  font-family: inherit !important;
}

.white-link {
  color: white;
  transition: color 0.3s ease;
}

.white-link:hover {
  color: #d3d3d3;
}

#edit-button {
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  transition: background-color 0.3s ease;
}

#add-button {
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

#add-button:hover, #move-button:hover, #edit-button:hover {
  background-color: var(--button-hover-color);
}

#delete-button {
  background-color: var(--error-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

#move-button {
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

#delete-button:hover {
  background-color: var(--error-hover-color);
}

.scrollable-container {
  max-height: 80vh;
  overflow-y: auto;
}

.scroll-list {
  border: solid 2px var(--outline-color);
}

.scroll-box {
  padding: 20px 40px;
  border-bottom: solid 1px var(--outline-color);
  border-top: solid 1px var(--outline-color);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background: transparent;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: -20px -40px;
}

.grip-container {
  border-left: 2px solid var(--outline-color);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.cdk-drag-preview {
  border: 2px solid var(--outline-color);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview .btn-primary {
  background-color: var(--error-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.scroll-list.cdk-drop-list-dragging .scroll-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.form-control.rank-input {
  width: 8ch;
  height: 3.5ch;
  padding: 0;
  font-size: 1.25rem;
  text-align: center;
}

#characters-dropdown {
  background-color: var(--button-color);
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

