/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #020207;
  --button-color: #1B263B;
  --outline-color: #778DA9;
  --star-color: #FFD51F;
  --error-color: #DC3545;
  --success-color: #198754;
  --subheader-color: #575757;
}

body {
  font-family: 'Lato', sans-serif !important;
  background-color: var(--background-color) !important;
}

nav {
  background-color: var(--button-color);
  border-bottom: 2px solid var(--outline-color);
}

.nav-link, .nav-logo {
  color: white !important;
}

#nav-search {
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid var(--outline-color);
  display: flex;
  align-items: center;
  background-color: transparent; /* wrapper is transparent */
}

#nav-search input {
  background-color: transparent; /* input transparent */
  border: none;
  color: white;
  outline: none;
}

#nav-search .input-group-text {
  background-color: transparent !important; /* make icon background transparent */
  border: none !important;                  /* remove borders */
}

#nav-search input::placeholder {
  color: rgba(242, 242, 242, 0.7);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.show-password-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  user-select: none;
  font-style: normal;
}

.show-password-icon:hover {
  color: #000;
}

.link {
  color: var(--button-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--outline-color);
}

.form-control {
  padding-left: 40px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-color: var(--outline-color) !important;
  border-width: 2px !important;
}

#nav-searchbar {
  padding-left: 0 !important;
  width: 25vw;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

h1 {
  font-weight: 500;
}

h4 {
  color: var(--subheader-color) !important;
}

.form-control.is-invalid ~ .show-password-icon {
  right: 2.5rem;
}

.validation-error {
  color: var(--error-color);
}

.validation-success {
  color: var(--success-color);
}

.required-label {
  font-size: 0.9rem;
  opacity: 75%;
  color: var(--error-color);
}
