<div #scrollableContainer class="scrollable-container">
  <div cdkDropList class="scroll-list" (cdkDropListDropped)="drop($event)">
    @for (show of shows; track show.showId; let rank = $index) {
      <div class="scroll-box" cdkDrag (cdkDragMoved)="onDragMoved($event)">
        <div class="d-flex align-items-center gap-5">
          <input type="text" [value]="rank + 1" class="form-control rank-input" (keydown.enter)="moveToPosition($event, rank)">
          <!-- Poster images are sized w185, using 2:3 ratio -->
          <a [routerLink]="['/show', show.showId]">
            <img class="poster-image" [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority>
          </a>
          <h2 class="fw-bold">{{show.title}}</h2>
        </div>

        <div class="right-section">
          <button id="delete-button" class="btn btn-primary d-flex align-item-center" (click)="removeEvent(show)">
            <img ngSrc="trash.svg" alt="Remove show" height="20" width="20">
          </button>
          <div class="grip-container" cdkDragHandle style="cursor: move">
            <img class="grip" ngSrc="grip-vertical.svg" alt="Reorder list" height="50" width="50">
          </div>
        </div>
      </div>
    }
  </div>
</div>
