@if (profileData) {
  <h3>Username: {{profileData.username}}</h3>
  <br>
  <h3>Profile Picture: TODO</h3>

  <br>
  <br>
  <h3>Watchlist</h3>
  @if (profileData.watchlistTop.length != 0) {
    @for (show of profileData.watchlistTop; track show.showId) {
      <h5>{{show.title}}</h5>

      <!-- Poster images are sized w185, using 2:3 ratio -->
      <a [href]="'/show/' + show.showId"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
    }
    <br>
    <br>
    <button>Manage Watchlist</button>
    <br>
    <br>

  } @else {
    <p>Nothing on watchlist yet!</p>
  }

  <h3>Currently Watching</h3>
  @if (profileData.watchingTop.length != 0) {
    @for (show of profileData.watchingTop; track show.showId) {
      <h5>{{show.title}}</h5>

      <!-- Poster images are sized w185, using 2:3 ratio -->
      <a [href]="'/show/' + show.showId"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
    }
    <br>
    <br>
    <button>Manage Currently Watching</button>
    <br>
    <br>
  } @else {
    <p>Not watching anything!</p>
  }

  <h3>Favorite Shows</h3>
  @if (profileData.showRankingTop.length != 0) {
    @for (show of profileData.showRankingTop; track show.showId) {
      <h5>{{show.rankNum}}</h5>
      <h5>{{show.title}}</h5>

      <!-- Poster images are sized w185, using 2:3 ratio -->
      <a [href]="'/show/' + show.showId"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
    }
    <br>
    <br>
    <button>Manage Favorite Shows</button>
    <br>
    <br>
  } @else {
    <p>Nothing ranked yet!</p>
  }

  <h3>Favorite Episodes</h3>
  @if (profileData.episodeRankingTop.length != 0) {
    @for (show of profileData.episodeRankingTop; track show.showId) {
      <h5>{{show.rankNum}}</h5>
      <h5>Show: {{show.showTitle}}</h5>
      <h5>Episode: {{show.episodeTitle}}</h5>
      <h5>S{{show.season}} E{{show.episode}}</h5>

      <!-- Episode stills are sized w185, with a 16:9 ratio -->
      <a [href]="'/show/' + show.showId + '/season/' + show.season + '/episode/' + show.episode"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="104" priority></a>
    }
    <br>
    <br>
    <button>Manage Favorite Episodes</button>
    <br>
    <br>
  } @else {
    <p>Nothing ranked yet!</p>
  }
}

