<h1>Trending Shows</h1>

@if (isLoading) {
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
} @else if (resultData) {
  @for (show of resultData.results; track show.id) {
    <h2>{{show.title}}</h2>

    <!-- If the show didn't air for more than one year only display once -->
    @if (!show.startYear && !show.endYear) {
      <h3>Air Dates Unknown</h3>
    } @else if (show.startYear === show.endYear) {
      <h3>{{show.startYear}}</h3>
    } @else {
      <h3>{{ show.startYear }} - {{ show.endYear }}</h3>
    }

    <!-- Poster images are sized w185, using 2:3 ratio -->
    <a [routerLink]="['/show', show.id]"><img [ngSrc]="show.posterPath" alt="Show Poster Path" width="185" height="278" priority></a>
    <br>
    <br>
  }

  <!-- Navigation by page -->
  <nav aria-label="Trending shows pagination">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page === 1" (click)="navigateToPage(page - 1)"><a class="page-link">Previous</a></li>
      <h2 class="mx-3">{{page}} of {{resultData.totalPages}}</h2>
      <li class="page-item" [class.disabled]="page === resultData.totalPages" (click)="navigateToPage(page + 1)"><a class="page-link">Next</a></li>
    </ul>
  </nav>
}
