<div class="container text-white">
  <div class="d-flex flex-column">
    <h1 class="fw-bold pt-4 mb-4" style="margin-left: 5rem">Trending shows this week</h1>
    <div id="show-container">
      @if (isLoading) {
        <div id="spinner-wrapper" class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      } @else if (resultData) {
        @for (show of resultData.results; track show.id) {
          <!-- Poster images are sized w185, using 2:3 ratio -->
          <a [routerLink]="['/show', show.id]">
            <img class="poster-image" [ngSrc]="show.posterPath" alt="Show Poster Path" width="185" height="278" priority>
          </a>
        }
      }
    </div>
    @if (resultData) {
      <div class="d-flex align-items-center justify-content-center" style="margin-bottom: 15vh">
        <button class="page-button" [disabled]="page === 1" (click)="navigateToPage(page - 1)">
          <img ngSrc="chevron-left.svg" alt="Previous page button" width="50" height="50" >
        </button>
        <h2 id="page-count" class="mx-3">{{page}} of {{resultData.totalPages}}</h2>
        <button class="page-button" [disabled]="page === resultData.totalPages" (click)="navigateToPage(page + 1)">
          <img ngSrc="chevron-right.svg" alt="Next page button" width="50" height="50">
        </button>
      </div>
    }
  </div>
</div>
