<div class="container text-white pt-5" style="margin-bottom: 15vh">
  @if (profileData) {
    <app-user-info [headerData]="profileData.headerData" editable></app-user-info>

    <div class="d-flex justify-content-between">
      <div class="flex-grow-1" style="min-width: 300px">
        <div class="d-flex gap-5 mb-3">
          <h3 class="fw-bold">Favorite shows</h3>
          <a routerLink="show-ranking" class="link-offset-3 white-link">View all</a>
        </div>
        <app-show-list [shows]="profileData.showRankingTop" ranked></app-show-list>

        <app-season-list [seasons]="profileData.seasonRankingTop"></app-season-list>
        <app-episode-list [episodes]="profileData.episodeRankingTop"></app-episode-list>

        <div class="d-flex gap-5 mb-3">
          <h3 class="fw-bold">Currently watching</h3>
          <a routerLink="watching" class="link-offset-3 white-link">View all</a>
        </div>
        <app-show-list [shows]="profileData.watchingTop"></app-show-list>

        <div class="d-flex gap-5 mb-3">
          <h3 class="fw-bold">Watchlist</h3>
          <a routerLink="watchlist" class="link-offset-3 white-link">View all</a>
        </div>
        <app-show-list [shows]="profileData.watchlistTop"></app-show-list>

        <div class="d-flex align-items-center gap-5 mb-3">
          <h3 class="fw-bold">Favorite characters</h3>
          <div class="dropdown">
            <button id="characters-dropdown" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{characterTypeTitle()}}
            </button>
            <ul class="dropdown-menu">
              @for (type of validCharacterTypes; track type) {
                <li>
                  <a class="dropdown-item" (click)="setSelectedCharacterType(type)">{{characterTypeTitle(type)}}</a>
                </li>
              }
            </ul>
          </div>

          <a [routerLink]="['character-ranking', selectedCharacterType]" class="link-offset-3 white-link">View all</a>
        </div>
        <app-character-list title="" [characters]="selectedCharacters"></app-character-list>
        <app-dynamic-list [dynamics]="profileData.dynamicRankingTop"></app-dynamic-list>

        <div class="d-flex gap-5 mb-3">
          <h3 class="fw-bold">Collections</h3>
          <a routerLink="collections" class="link-offset-3 white-link">View all</a>
        </div>

        @if (profileData?.collections?.length != 0) {
          @for (collection of profileData.collections; track collection.id) {
            <app-collection [collection]="collection" onProfilePage></app-collection>
          }
        } @else {
          <p>No collections yet</p>
        }
      </div>

      <div>
        <app-recent-reviews [reviews]="profileData.reviews"></app-recent-reviews>
      </div>
    </div>
  }
</div>
