<button class="btn btn-primary" routerLink="/profile">Return to Profile</button>
<br>
<button class="btn btn-success mt-3 mb-3" (click)="openSearchShowsModal()">Add Show</button>

@if (watchlistEntries) {
  <app-show-list-full title="Watchlist"
                      [shows]="watchlistEntries"
                      editable
                      (remove)="removeShowFromWatchlist($event)"
                      (move)="moveShowToWatchingList($event)"
                      moveTitle="Watching"
  ></app-show-list-full>
} @else {
  <p>You don't have any shows on your watchlist yet!</p>
}
