<button class="btn btn-primary" routerLink="/profile">Return to Profile</button>

<h1>Collections</h1>
<button class="btn btn-secondary" (click)="createNewCollection()">Create New Collection</button>

<div class="mb-3">
  <label for="search-bar" class="form-label">Search Collections</label>
  <input type="text" id="search-bar" class="form-control" placeholder="Search..." [(ngModel)]="searchCollectionString" (input)="debouncedSearchCollections()">
</div>

@if (collectionData) {
  @if (collectionData.length != 0) {
    @for (collection of collectionData; track collection.id) {
      <app-collection [collection]="collection"></app-collection>
    }
  } @else {
    <p>No Collections Found!</p>
  }
}
