@if (userDetails) {
  <app-user-info [headerData]="userDetails.headerData" [editable]="false"></app-user-info>

  <app-show-list title="Watchlist" [shows]="userDetails.watchlistTop"></app-show-list>
  @if (userDetails.hasMoreWatchlist) {
    <button class="btn btn-primary mt-3 mb-3" routerLink="watchlist">View Full List</button>
  }

  <app-show-list title="Currently Watching" [shows]="userDetails.watchingTop"></app-show-list>
  @if (userDetails.hasMoreWatching) {
    <button class="btn btn-primary mt-3 mb-3" routerLink="watching">View Full List</button>
  }

  <app-show-list title="Favorite Shows" [shows]="userDetails.showRankingTop" ranked></app-show-list>
  @if (userDetails.hasMoreShowRanking) {
    <button class="btn btn-primary mt-3 mb-3" routerLink="show-ranking">View Full List</button>
  }

  <app-season-list [seasons]="userDetails.seasonRankingTop"></app-season-list>
  <button class="btn btn-primary mt-3 mb-3" routerLink="season-ranking">View Full List</button>

  <app-episode-list [episodes]="userDetails.episodeRankingTop"></app-episode-list>
  @if (userDetails.hasMoreEpisodeRanking) {
    <button class="btn btn-primary mt-3 mb-3" routerLink="episode-ranking">View Full List</button>
  }

  <app-character-list title="Favorite Protagonists" [characters]="userDetails.characterRankings.protagonists"></app-character-list>
  <button class="btn btn-primary mt-3 mb-3" routerLink="character-ranking/protagonists">View Full List</button>

  <app-character-list title="Favorite Deuteragonists" [characters]="userDetails.characterRankings.deuteragonists"></app-character-list>
  <button class="btn btn-primary mt-3 mb-3" routerLink="character-ranking/deuteragonists">View Full List</button>

  <app-character-list title="Favorite Antagonists" [characters]="userDetails.characterRankings.antagonists"></app-character-list>
  <button class="btn btn-primary mt-3 mb-3" routerLink="character-ranking/antagonists">View Full List</button>

  <app-character-list title="Favorite Tritagonists" [characters]="userDetails.characterRankings.tritagonists"></app-character-list>
  <button class="btn btn-primary mt-3 mb-3" routerLink="character-ranking/tritagonists">View Full List</button>

  <app-character-list title="Favorite Side Characters" [characters]="userDetails.characterRankings.side"></app-character-list>
  <button class="btn btn-primary mt-3 mb-3" routerLink="character-ranking/side">View Full List</button>

  <app-dynamic-list [dynamics]="userDetails.dynamicRankingTop"></app-dynamic-list>
  <button class="btn btn-primary my-3" routerLink="dynamic-ranking">View Full List</button>
  <br>

  <h3>Collections</h3>
  @if (userDetails?.collections?.length != 0) {
    @for (collection of userDetails.collections; track collection.id) {
      <app-collection [collection]="collection" onProfilePage></app-collection>
    }
  } @else {
    <div>No collections yet!</div>
  }
  <button class="btn btn-primary mb-4" routerLink="collections">View All</button>

  <h3>Reviews</h3>

<!--  <app-review-chart [reviewDistribution]="userDetails.reviewDistribution"></app-review-chart>-->

  <button type="button" class="btn btn-secondary mb-3" routerLink="reviews">View All</button>
  @if (userDetails?.reviews?.length != 0) {
    @for (review of userDetails.reviews; track review.id + '-' + review.type) {
      <app-profile-review [review]="review"></app-profile-review>
    }
  } @else {
    <div>No reviews yet!</div>
  }
}
