@if (userDetails) {
  <div class="d-flex flex-column align-items-center mt-5">
    <h3 class="mb-3">{{userDetails.username}}</h3>
    <img class="mb-3 rounded-circle object-fit-cover" id="profile-picture" [ngSrc]="userDetails.profilePicture" alt="Profile Picture" width="500" height="500" priority>

    @if (!userDetails.isOwnProfile) {
      @if (userDetails.isFollowing) {
        <button class="btn btn-outline-danger" (click)="unfollowUser()">Unfollow</button>
      } @else {
        <button class="btn btn-outline-success" (click)="followUser()">Follow</button>
      }
    }

    <div class="d-flex m-3 gap-5">
      <a class="d-flex flex-column align-items-center text-decoration-none text-dark" href="/user/{{this.userId}}/followers">
        <h3>{{userDetails.numFollowers}}</h3>
        <h4>Followers</h4>
      </a>
      <a class="d-flex flex-column align-items-center text-decoration-none text-dark" href="/user/{{this.userId}}/following">
        <h3>{{userDetails.numFollowing}}</h3>
        <h4>Following</h4>
      </a>
    </div>
  </div>

  <br>
  <br>
  <h3>Watchlist</h3>
  @if (userDetails.watchlistTop.length != 0) {
    @for (show of userDetails.watchlistTop; track show.showId) {
      <h5>{{show.title}}</h5>

      <!-- Poster images are sized w185, using 2:3 ratio -->
      <a [routerLink]="['/show', show.showId]"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
    }
    <br>
    <br>

    @if (userDetails.moreWatchlist) {
      <button [routerLink]="['/user', userId, 'watchlist']">View Full List</button>
    }

    <br>
    <br>

  } @else {
    <p>Nothing on watchlist yet!</p>
  }

  <h3>Currently Watching</h3>
  @if (userDetails.watchingTop.length != 0) {
    @for (show of userDetails.watchingTop; track show.showId) {
      <h5>{{show.title}}</h5>

      <!-- Poster images are sized w185, using 2:3 ratio -->
      <a [routerLink]="['/show', show.showId]"><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
    }
    <br>
    <br>

    @if (userDetails.moreWatching) {
      <button [routerLink]="['/user', userId, 'watching']">View Full List</button>
    }

    <br>
    <br>
  } @else {
    <p>Not watching anything!</p>
  }

  <h3>Favorite Shows</h3>
  @if (userDetails.showRankingTop.length != 0) {
    @for (show of userDetails.showRankingTop; track show.showId) {
      <h5>{{show.rankNum}}</h5>
      <h5>{{show.title}}</h5>

      <!-- Poster images are sized w185, using 2:3 ratio -->
      <a [routerLink]="['/show', show.showId]" ><img [ngSrc]="show.posterPath" alt="Show Poster" width="185" height="278" priority></a>
    }
    <br>
    <br>

    @if (userDetails.moreShowRanking) {
      <button [routerLink]="['/user', userId, 'show-ranking']">View Full List</button>
    }

    <br>
    <br>
  } @else {
    <p>Nothing ranked yet!</p>
  }

  <h3>Favorite Seasons</h3>
  @if (userDetails.seasonRankingTop.length != 0) {
    @for (season of userDetails.seasonRankingTop; track season.id) {
      <h5>{{season.rankNum}}</h5>
      <h5>{{season.showTitle}} Season {{season.season}}</h5>

      <!-- Poster images are sized w185, using 2:3 ratio -->
      <a [routerLink]="['/show', season.showId, 'season', season.season]"><img [ngSrc]="season.posterPath" alt="Season Poster" width="185" height="278" priority></a>
    }

    <br>
    <br>
    <button [routerLink]="['/user', userId, 'season-ranking']">View Full List</button>
    <br>
    <br>
  } @else {
    <p>Nothing ranked yet!</p>
  }

  <h3>Favorite Episodes</h3>
  @if (userDetails.episodeRankingTop.length != 0) {
    @for (episode of userDetails.episodeRankingTop; track episode.showId) {
      <h5>{{episode.rankNum}}</h5>
      <h5>Show: {{episode.showTitle}}</h5>
      <h5>Episode: {{episode.episodeTitle}}</h5>
      <h5>S{{episode.season}} E{{episode.episode}}</h5>

      <!-- Episode stills are sized w185, with a 16:9 ratio -->
      <a [routerLink]="['/show', episode.showId, 'season', episode.season, 'episode', episode.episode]"><img [ngSrc]="episode.posterPath" alt="Show Poster" width="185" height="104" priority></a>
    }
    <br>
    <br>

    @if (userDetails.moreEpisodeRanking) {
      <button [routerLink]="['/user', userId, 'episode-ranking']">View Full List</button>
    }

    <br>
    <br>
  } @else {
    <p>Nothing ranked yet!</p>
  }

  <h3>Reviews</h3>
  @if (userDetails.reviews.length != 0) {
    @for (review of userDetails.reviews; track review.id) {
      <h4>Date: {{utilsService.getFormattedDate(review.reviewDate)}}</h4>
      <h4>Relative Time Since Review: {{review.relativeDate}}</h4>
      <h4>Show: {{review.showTitle}}</h4>
      <h4>Rating: {{review.rating}}</h4>
      <h4>Commentary: {{review.commentary}}</h4>
      <h4>Contains Spoilers: {{review.containsSpoilers}}</h4>
      <h4>Likes: {{review.likes}}</h4>
      <br>
    }
  } @else {
    <p>No reviews yet!</p>
  }

}
